main {
  max-width: 880px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #f4b740;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

main p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
  color: #181921;
}

main hr {
  width: 35%;
  height: 1px;
  background-color: #f4b740;
  border: 1px #f4b740 solid;
  border-radius: 2px;
}

main .center {
  text-align: center;
}

main .logo-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

main .logo {
  width: 128px;
}
